* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    height: 50px;
}

.contact-button a {
    padding: 10px 20px;
    text-decoration: none;
    background: #00bb63;
    color: white;
    border-radius: 5px;
}

.headline {
    color: #00bb63; /* Updated */
    padding: 50px;
    text-align: left;
}

.mission-statement {
    padding: 50px;
    text-align: left;
}

.subscribe {
    padding: 50px;
    text-align: left;
}

#my-form input {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#my-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00bb63;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
}

.social-links a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
