@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #e6f1ff;
  background-color: #111111;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header.hero {
  position: relative;
  padding: 80px 0;
  text-align: center;

}

header.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

header.hero .logo img {
  width: 80px;
  height: auto;
}

header.hero nav ul {
  list-style: none;
  margin-top: 40px;
}

header.hero nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header.hero nav ul li a {
  color: #e6f1ff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

header.hero nav ul li a:hover {
  text-decoration-line: underline;
}

header.hero .hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 40px;
}

header.hero .hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}


header.hero .hero-content .cta-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #eeeeee;
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

header.hero .hero-content .cta-button:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

/* Sections */
section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #a8b2d1;
}

section p {
  max-width: 600px;
  margin: 0 auto;
  color: #f8f8f8;
}

/* Footer */
footer {
  padding: 40px 0;
  text-align: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-links {
  margin-right: auto;
}

footer .social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #8892b0;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-links a:last-child {
  margin-right: 0;
}

footer .social-links a:hover {
  color: #e6f1ff;
}

footer .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

footer .logo img {
  width: 100px;
  height: auto;
}

footer p {
  font-size: 14px;
  margin-top: 20px;
}



/* Responsive Styles */
@media screen and (max-width: 767px) {
  header.hero .hero-content h1 {
    font-size: 36px;
  }

  header.hero .hero-content p {
    font-size: 16px;
  }

  section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  section p {
    font-size: 16px;
  }

  footer .container {
    flex-direction: column;
  }

  footer .footer-content {
    flex-direction: column;
  }

  footer .logo {
    margin-top: 20px;
  }
}
